@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}
.row:after, .menu:after{
    content: "";
    display: block;
    clear: both;
}
header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 80%;
}
.menu>li{
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
    
}
.menu li:last-child{
    border-right: 1px solid #2c71b8; 
}
.menu a{
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    line-height: 50px;
    color: #2c71b8;
}
.arrow{
    background-image: url("images/arrow.png"); 
    background-position-x: 90%;
    background-position-y: center;
    background-repeat: no-repeat;
}
.menu li:hover .arrow{
    filter: brightness(0) invert(1);
}
.menu li:hover .sub{
    color: white;
    background-color:#2c71b8;
}
.menu a:hover{
    color: white;
    background-color:#2c71b8;
}
.menu li:hover .submenu{
    display: block;
}
.submenu{
    position: absolute;
    margin-left: -1px;
    background-color:#2c71b8;
    display: none;
    width: 286px;
}
.submenu a{
  display: block;
  color: white;
  text-align: left;
  padding-left: 30px;
}
.submenu a:hover{
    background-color: #fff;
    color: #2c71b8;
}
.search{
    position: relative;
    height: 40px;
    width: 200px;
    border: 1px solid #2c71b8;
    padding: 4px;
    margin-top: 6px;
    
}
.search button{
    position: absolute;
    background-color: #2c71b8;
    background-image: url("images/search.png");
    background-position: center; 
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
}
.search input{
    background-color: rgb(202, 219, 232);
    border: none;
    height: 30px;
    width: 160px;
    color: #2c71b8;
    
}
::placeholder{
    color: #2c71b8;
    font-size: 21px;
}
.cart{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin-top: 6px;
    background-image: url("images/cart.png");
    background-position: center; 
    background-repeat: no-repeat;
}
.count-cart{
    position: absolute;
    top: -10px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    color: white;
    text-align: center;
}
.aside{
    background-color: rgba(255, 255, 255, 0.1);
}
.slider{
    height: 400px;
}
.filter{
    height: 840px;
}