@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}
.row:after, .menu:after{
    content: "";
    display: block;
    clear: both;
}
header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.cntrprod{
    width: 880px;
    margin-top: 30px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}
.col-9{
    width: 75%;
}
.col-12{
    width: 100%;
}
.col-4{
    width: 33%;
}

.menu>li{
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
    
}
.menu li:last-child{
    border-right: 1px solid #2c71b8; 
}
.menu a{
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    line-height: 50px;
    color: #2c71b8;
}
.arrow{
    background-image: url("images/arrow.png"); 
    background-position-x: 90%;
    background-position-y: center;
    background-repeat: no-repeat;
}
.menu li:hover .arrow{
    filter: brightness(0) invert(1);
}
.menu li:hover .sub{
    color: white;
    background-color:#2c71b8;
}
.menu a:hover{
    color: white;
    background-color:#2c71b8;
}
.menu li:hover .submenu{
    display: block;
}
.submenu{
    position: absolute;
    margin-left: -1px;
    background-color:#2c71b8;
    display: none;
    width: 286px;
}
.submenu a{
  display: block;
  color: white;
  text-align: left;
  padding-left: 30px;
}
.submenu a:hover{
    background-color: #fff;
    color: #2c71b8;
}
.search{
    position: relative;
    height: 40px;
    width: 200px;
    border: 1px solid #2c71b8;
    padding: 4px;
    margin-top: 6px;
    
}
.search button{
    position: absolute;
    background-color: #2c71b8;
    background-image: url("images/search.png");
    background-position: center; 
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
}
.search input{
    background-color: rgb(202, 219, 232);
    border: none;
    height: 30px;
    width: 160px;
    color: #2c71b8;
    
}
::placeholder{
    color: #2c71b8;
    font-size: 21px;
}
.cart{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin-top: 6px;
    background-image: url("images/cart.png");
    background-position: center; 
    background-repeat: no-repeat;
}
.count-cart{
    position: absolute;
    top: -10px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    color: white;
    text-align: center;
}
.aside{
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
}
.main *{
    color: white;  
}
.slider{
    height: 400px;
    margin: 0 auto;
}
.filter{
    height: 840px;
    width: 270px;
    padding-left: 30px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-right: 1px solid white;
    font-size: 21px;
    font-weight: bold;
}
.filter, .block1, .block2, .sortmenu{
    padding-top: 30px;
}
.block1 a{
    font-size: 14px;
    text-decoration: none;
}
.block1 a:last-child{
    text-decoration: underline;
}
.sortmenu li{
    width: 270px;
    border:1px solid white;
    position: relative;
}
.sortmenu a{
    display: block;
    text-decoration: none;
    font-size: 21px;
    line-height: 40px;
    height: 40px;
    padding-left:20px;
}
.sortmenu a:hover{
    background-color: white;
    color: #2c71b8;
}
.sortsubmenu{
    position: absolute;
    display: none;
    z-index: 1;
}

.sortmenu li:hover .sortsubmenu{
    display: block;
}
.product{
    margin-top: 30px;
    width: 270px;
    height: 655px;
    border: 1px solid white;
}
.txt-bold{font-size: 48px;font-weight: bold;}
.prd-desc h2{font-size: 30px; font-weight: bold;}
.prd-desc, .prd-desc>p{font-size: 21px;padding-top: 10px;padding-left: 15px;}
.prd-desc span{font-weight: bold;}
.txt-bold p{text-align: center;padding: 25px 0 10px}
.img{
    position: relative;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 10px 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #2c71b8;
    width: 30px;
    height: 30px;
    background-image: url("images/icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
.heart{
    margin: 10px 10px 0 0;
    position: absolute;
    top:40px;
    right: 0;
    border: 1px solid #2c71b8;
    width: 30px;
    height: 30px;
    background-image: url("images/heart.png");
    background-position: center;
    background-repeat: no-repeat;
}
.product button{
    width: 210px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid white;
}
.btn-more{background-color: #2c71b8;}
.btn-add{
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url("images/cart2.png");
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
}
